---

import Default from '@astrojs/starlight/components/SocialIcons.astro';

---

<a href="/releases#bleeding-edge-den"><img src="https://img.shields.io/badge/main-HeadsUp-ff7600?logo=tip&logoColor=white" alt="Sponsor Den"/>

<a href="https://github.com/vic/den/releases"><img src="https://img.shields.io/github/v/release/vic/den?logo=github&color=white"/></a>

<a href="https://deepwiki.com/vic/den"><img src="https://deepwiki.com/badge.svg" alt="Ask DeepWiki"></a>

<Default />
