---
const versions = await fetch('https://den.oeiuwq.com/versions.json').then(r => r.json()).catch(e => []);
---

{
versions.length > 0 && <select id="versions">
  <option value="/">main</option>
{versions.map(v => <option value={"/"+v.name.replace("docs-","")}>{v.name.replace("docs-","")}</option>)}
</select>
}

<script>
  const versions = document.getElementById("versions");
  if (versions != null) { 
    versions.addEventListener("change", _ => { document.location.pathname = versions.value; });
    document.querySelectorAll("#versions options").map(opt => {
      if (document.location.pathname.startsWith(opt.value)) { opt.selected = "selected"; }
    });
  }
</script>
