name: GH Pages
on:
  workflow_dispatch:
  push:
    branches: [main]
    paths: ["docs/**"]
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: wimpysworld/nothing-but-nix@main
      - uses: cachix/install-nix-action@v31
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - uses: actions/checkout@v4
      - name: Build
        run: |
          pushd docs
          nix profile install nixpkgs#nodejs nixpkgs#pnpm
          pnpm install
          pnpm run build
          popd
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./docs/build"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
