name: GH Pages
on:
  gollum:
  workflow_dispatch:
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: "pages"
  cancel-in-progress: true
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Install mdbook
        run: |
          set -ve -o pipefail
          curl -vL https://github.com/rust-lang/mdBook/releases/download/v0.4.52/mdbook-v0.4.52-x86_64-unknown-linux-gnu.tar.gz -o mdbook.tar.gz
          sudo tar xf mdbook.tar.gz -C /usr/local/bin mdbook
          mdbook --version
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: "${{github.repository}}.wiki"
      - name: Build
        run: mdbook build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./book"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
